doctype html
html(lang="en")
    head
        
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title = #{title}
    body
        header
            div.navbar_container
                div.logo_container
                    img(class = "logo" src = "", alt = "Logo")
                div.navbar
                    div.menu_bar
                        nav.nav_container 
                            div.menu_items
                                a(class = "menu_item1" href="#") Usuarios
                                a(class = "menu_item2" href="#") Items
                                a(class = "menu_item3" href="#") Listas
                                a(class = "menu_item4" href="#") Repositorio
                                a(class = "menu_item5" href="#") Registro
                            div.mensaje_container
                                a(class = "menu_item6" href="#") #{welcome} 
                        div.log_container
                            a(class = "menu_item7" href="") #{logStatus}
                    div.cart_container
                        div.cart_img
                            img(src="", alt="contenedor")
                            p #{numItem}
            
        main 
            div.register_container
                form(class= "data_container" action="/usuario/registro" method="POST")
                    div.register_top
                        h3 Datos de inicio de sesion
                        div.inicio_sesion
                            label(for="username") Username
                            input(type="text", name="username")
                            label(for="password") Password
                            input(type="password", name="password")
                            label(for="confirmacion") Password Confirmation
                            input(type="password", name="password_conf")
                    div.register_bottom
                        h3 Datos Personales
                        div.datos_personales
                            label(for="nombre") Nombre
                            input(type="text", name="nombre")
                            label(for="apellido") Apellido
                            input(type="text", name="apellido")
                            label(for="fecha de nacimiento") Fecha Nacimiento 
                            input(type="date", name="birthday")
                            label(for="email") Email
                            input(type="email", name="email")
                    input(type="submit", name="boton" value="Regitrarse")
                div.register_message
                    p.message_reg #{error}

        footer.footer_section
            div.footer_container
                div.footer_links
                    div.text_container
                       h3 About 
                       a(class="footer_text" href="#") Informacion de Aplicacion 
                       a(class="footer_text" href="#") Documentacion de Proyecto  
                    div.text_container
                       h3 Contacto: 
                       p Numero Telefónico : 2457891151
                       p Direccion: Av Lorem Ipso,2345, Chile
                       p Email: app@gmail.com
                    div.text_container
                       h3 Soporte 
                       a(class="footer_text" href="#") FAQ 
                       a(class="footer_text" href="#") Tickets
                div.footer_bot
                    div.copyright
                        p Todos los derechos reservados
                    div.social_bar
                        p redes sociales bar